@import "@/app/styles/mixins/text-link.scss";

.footer {
  background-color: var(--dark-secondary-color);
  color: var(--light-text-color);
  height: var(--footer-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;

  z-index: 10;

  a {
    @include text-link();
  }
}
