.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 0.5rem 4rem;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.123);

  text-decoration: none;

  z-index: 10;

  &.fixed {
    background-color: white;

    position: fixed;
    top: calc(-1 * var(--header-height));
    transform: translateY(var(--header-height));

    transition: transform 0.5s;

    a {
      color: var(--subtle-dark-text-color);
    }
  }

  &.absolute {
    background-color: none;

    position: absolute;
    top: 0;
    transform: none;

    transition: transform 0.5s;

    a {
      color: white;
    }
  }

  .logo {
    display: flex;
    img {
      transform: translateY(-8%);
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    a {
      font-weight: 600;
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary-color);
        transition: color 0.3s ease;
      }
    }
  }
}
