.search-container {
  width: 100%;
  min-height: 100vh;
  display: inline-block;

  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
  background-color: var(--subtle-light-color);
  padding: var(--header-height) 3.2rem var(--header-height);

  .sidebar {
    padding-top: var(--header-bottom-margin);
    margin-bottom: 3.2rem;

    h1 {
      margin: 0 0 0.5rem;

      font-size: 1.8rem;
      color: var(--dark-text-color);
    }

    .results {
      margin: 0;
      font-size: 0.75rem;
      color: var(--subtle-dark-text-color);
    }

    .filter-section {
      h2 {
        margin: 2rem 0 1rem;

        font-size: 1.2rem;
        color: var(--dark-text-color);
      }

      .filter-list {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .filter {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .checkbox {
            margin: 0;
            padding: 0;
            width: 1.5rem;
            height: 1.5rem;
            color: var("--primary-color");
          }

          .filter-label {
            font-size: 0.8rem;
            color: var(--suble-dark-text-color);
          }

          .filter-label.disabled {
            color: var(--suble-dark-text-color);
          }
        }
      }
    }
  }

  .content-container {
    padding-top: var(--header-bottom-margin);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-height: 100%;

    .search-input {
      button {
        background: 0;
        border: 0;
        cursor: pointer;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
    }

    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .content {
      width: 100%;
      margin: 0;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    .no-results {
      font-size: 1.2rem;
      color: var(--soft-dark-text);
    }
  }
}
