.link-button {
  display: flex;

  a {
    padding: 1rem 2rem;

    background-color: var(--primary-color);
    color: var(--light-text-color);

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
}
