@import "@/app/styles/mixins/text-link.scss";

.card {
  background-color: white;
  width: 100%;
  height: 27rem;
  display: grid;
  grid-template-rows: 4fr 3fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);

  .image-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
      }
    }

    svg {
      height: 70%;
      fill: var(--gray-text-color);

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
      }
    }
  }

  .text-content {
    width: 100%;
    height: 100%;
    height: 10rem;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      position: relative;

      width: 100%;
      height: 100%;

      h3 {
        color: var(--dark-text-color);
        font-size: 1rem;
        margin: 0 0 0.2rem;
      }

      p {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        color: var(--gray-text-color);
        font-size: 0.75rem;
        margin: 0;

        overflow: hidden;
        word-break: break-word;
      }

      .gradient {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 30%;
        background: linear-gradient(
          to top,
          rgb(255, 255, 255),
          rgba(255, 255, 255, 0)
        );
        position: absolute;
        bottom: 0;
      }
    }

    .read-more {
      font-size: 1rem;

      @include text-link();
    }
  }
}
