:root {
  --primary-color: #dfa300;
  --primary-color-dark: #c97800;
  --secondary-color: #1575f3;
  --dark-secondary-color: #184279;
  --light-text-color: #eeeee9;
  --subtle-light-color: #e1f2f3;
  --dark-text-color: #1d1d1d;
  --subtle-dark-text-color: #535353;
  --gray-text-color: #8b8b8b;

  --header-height: 4rem;
  --footer-height: 3.2rem;
  --header-bottom-margin: 2rem;
}

html {
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
