.page {
  width: 100%;
  min-height: 100vh;

  gap: 2rem;
  background-color: var(--subtle-light-color);
  padding: var(--header-height) 3.2rem var(--header-height);

  .simulator-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
