/* styles/Post.module.scss */

.container {
  padding-bottom: var(--footerHeight);
}

.main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    color: var(--primaryColor);
    margin-bottom: 20px;
  }

  p {
    color: #333;
    line-height: 1.6;
  }
}
